{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
    {% set pix_position = sortableObjectPosition(object) %}

    {% if pix_position < admin.last_position %}
        <a class="btn btn-sm btn-default fa fa-arrow-down" href="{{ admin.generateObjectUrl('move', object, {'position': 'bottom'}) }}" title="{{ 'move_to_bottom'|trans }}"></a>
    {% endif %}

    {% if pix_position < admin.last_position %}
        <a class="btn btn-sm btn-default fa fa-long-arrow-down" href="{{ admin.generateObjectUrl('move', object, {'position': 'down'}) }}" title="{{ 'move_down'|trans }}"></a>
    {% endif %}

    {% if pix_position > 0 %}
        <a class="btn btn-sm btn-default fa fa-long-arrow-up" href="{{ admin.generateObjectUrl('move', object, {'position': 'up'}) }}" title="{{ 'move_up'|trans }}"></a>
    {% endif %}

    {% if pix_position > 0 %}
        <a class="btn btn-sm btn-default fa fa-arrow-up" href="{{ admin.generateObjectUrl('move', object, {'position': 'top'}) }}" title="{{ 'move_to_top'|trans }}"></a>
    {% endif %}
{% endif %}
